{% extends 'zkbase.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stimulus.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">Q{{index}}. What is returned by the following function given the input <span style="font-family: 'Courier New', monospace; font-weight: bold;">(afunc 17 2 156 10 1054)</span>?</h1>

    <div class="question">
        <pre style="font-family: 'Courier New', monospace; font-size: 17px;">
(define (afunc input1 input2 input3 input4 input5)
    (cond
        [(and (> input1 21) (>= input4 110) (>= input5 56)) #t]
        [(and (or (= input1 17) (= input1 21)) (>= input2 3) (>= input4 110) (>= input5 56)) #t]
        [(and (or (= input1 17) (= input1 21)) (= input2 2) (= input3 156) (>= input4 11) (>= input5 1054)) #t]
        [(and (or (= input1 17) (= input1 21)) (= input2 2) (= input3 156) (>= input4 9) (>= input5 1054)) #t]
        [else #f]))
        </pre>
    </div>

        <form action="{{ url_for('stimulus', index=index) }}" method="POST">
            <label for="choice1">
                <input type="radio" id="choice1" name="choice" value="1">
                #t
            </label>
            <br>
            <label for="choice2">
                <input type="radio" id="choice2" name="choice" value="2">
                #f
            </label>
            <br>
            <label for="choice3">
                <input type="radio" id="choice3" name="choice" value="3">
                None
            </label>
            <br>
            <label for="choice4">
                <input type="radio" id="choice4" name="choice" value="4">
                Error
            </label>
            <br>

            <input type="submit" value="Next" onclick="return validateForm()">
        </form>


        <script>
            function validateForm() {
                var options = document.getElementsByName("choice");
                for (var i = 0; i < options.length; i++) {
                    if (options[i].checked) {
                        return true; // Proceed to the next stimulus page
                    }
                }
                alert("Please select an answer.");
               return false; // Prevent form submission
            }
        </script>

    </div>
{% endblock %}

